.fullpage {
    width: 100vw;
    height: 100vh;
    
    display: grid;
    grid-template-rows: minmax(20px, 0.5fr) minmax(0, 6fr) minmax(25px, 0.25fr);
    grid-template-columns: clamp(10px, 10vw, 400px) minmax(0, 1fr) clamp(10px, 10vw, 400px);

}

.fullpage-clear{
    background-color: var(--color-clear);
}
.fullpage-primary{
    background-color: var(--color-primary);
}
.fullpage-secondary{
    background-color: var(--color-secondary);
}
.fullpage-highlight{
    background-color: var(--color-highlight);
}
.fullpage-dark{
    background-color: var(--color-dark);
}

.fullpage-extend{
    height: auto;
}

