.sideLinks {
  width: min(75vw, 400px);
  height: 100%;
  padding: 2vw;
  background-color: var(--color-clear);

  display: flex;
  flex-direction: column;
  align-items:flex-end;
  gap: 2vh;
}

.sideLinks-list {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items:flex-end;
  
  list-style-type: none;
}

.sideLinks-item {
  display: flex;
  gap: 1vw;
  align-items: center;

  font-size: var(--typography-standard);
  color: var(--color-dark);
}

.sideLinks-icon {
  width: clamp(20px, 2vw, 80px);
  height: auto;
}
