.highligthText {
  color: var(--color-dark);
  background: linear-gradient(104deg, rgba(232,192,132,0) 0.9%, rgba(232,192,132,1.25) 2.4%, rgba(232,192,132,0.5) 5.8%, rgba(232,192,132,0.1) 93%, rgba(232,192,132,0.7) 96%, rgba(232,192,1322,0) 98%), linear-gradient(183deg, rgba(232,192,132,0) 0%, rgba(232,192,132,0.3) 7.9%, rgba(232,192,132,0) 15%);
  padding: 0.1em 2vw;
  box-decoration-break: clone;
  margin: 0;
  border-radius: 7.5px;
  text-shadow: -12px 12px 9.8px rgba(232, 192, 132, 0.7), 21px -18.1px 7.3px var(--color-primary), -18.1px -27.3px 30px var(--color-primary);
}