.project {
  grid-area: 2/2/3/3;

  display: flex;
    flex-direction: column;
    gap: 5vw;
    overflow: hidden;
    align-items: center;
    padding-bottom: 1vh;
}

.project-title {
  color: var(--color-clear);
  flex: 1 1 1000px;
  text-align: center;
}

.project-section {
  display: flex;

  flex-flow: row wrap;
  justify-content: space-around;
  row-gap: 2vh;  

}

.smallLink {
  font-size: var(--typography-small);
}