.footer {
  background-color: var(--color-dark);
  color: var(--color-clear);
  padding: 2vh 14vw;

  display: grid;
  gap: 4vh;
}

.footer-text {
  text-align: center;
}

.footer-list {
  display: flex;
  flex-flow: row wrap;
  gap: 2 vh;
  justify-content: space-around;
  align-items: center;
}

.footer-icon {
  width: clamp(20px, 2vw, 30px);
  height: auto;
}